[submodule "multi-agent-tamp-solver/24-data-gen"]
	path = multi-agent-tamp-solver/24-data-gen
	url = git@github.com:vhartman/24-data-gen.git
	ignore = untracked
[submodule "multi-agent-tamp-solver/rai-fork"]
	path = multi-agent-tamp-solver/rai-fork
	url = git@github.com:vhartman/rai.git
	branch = changes
	ignore = untracked
[submodule "multi-agent-tamp-solver/rai-manip"]
	path = multi-agent-tamp-solver/rai-manip
	url = git@github.com:vhartman/rai-manip.git
	ignore = untracked	
[submodule "multi-agent-tamp-solver/rai-robotModels"]
	path = multi-agent-tamp-solver/rai-robotModels
	url = git@github.com:vhartman/rai-robotModels.git
	ignore = untracked	
